@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(95, 94, 92, 0.391);
    font-family: "Science Gothic", sans-serif;
}

/* -------- LAYOUT PRINCIPAL -------- */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 
}

.content { 
    background-color: rgb(205, 205, 214);
    width: 600px;
    height: auto;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* -------- BLOCO SUPERIOR E INFERIOR -------- */

.main-upper, .main-botton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg,rgba(66, 82, 227, 1) 0%, rgba(60, 150, 199, 1) 100%);
    padding: 40px 0 0px 0;;
    gap:20px;
}

/* -------- TÍTULOS -------- */

.main-upper h1 {
    font-size: 32px;
    color: white;
}

.main-upper h2 {
    font-size: 26px;
    color: white;
}

/* -------- BLOCO SUPERIOR -------- */

.value-box {
    width: 20%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-box input::-webkit-outer-spin-button,
.value-box input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.value-box input {
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* -------- BLOCO INFERIOR -------- */

.main-botton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(66,82,227) 0%, rgba(60,150,199) 100%);
    padding: 35px 0 40px 0;
    gap: 20px;
}

.main-botton h2 {
    font-size: 36px;
    color: white;
}

/* -------- SELECTS -------- */

.main-select {
    width: 260px;
    background-color: #fff(255, 255, 255);
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.main-select option {
    text-align: left;
}

/* -------- SÍMBOLO DE RESULTADO -------- */

.result-symbol {
    font-size: 40px;
    color: white;
}

/* -------- Botão de Conversão -------- */

#converter-btn {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Science Gothic", sans-serif;
    font-size: 18px;
    cursor: pointer;

    transition: transform 0.15s ease, box-shadow 0.15s ease;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#converter-btn:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 18px;
}

#converter-btn:active {
    transform: scale(0.95) translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;
}

/* border-bottom: 1px solid rgba(181, 181, 207, 0.698); */